.card-container {
    border: 1px solid #dbdfe9;
    border-radius: 12px;
    box-shadow: 0px 3px 4px 0px #00000008;
}

.card-title-container {
    height: 44px;
    gap: 10px;
    border-bottom: 1px solid #f1f1f4;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.weather-card {
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.weather-card:hover {
    background-color: #f0f0f0;
}

.divider {
    height: 1px;
    background-color: #e0e0e0;
}

.data-text {
    font-size: 0.875rem;
}