:root {
    --primary-color: #296573;
    --page-default-background-color: #ffffff;
    --text-default-color: #ffffff;

    /* Layout Styles */
    --default-page-padding: 12%;

    .default-page{
        padding-left: var(--default-page-padding);
        padding-right: var(--default-page-padding);
    }
}
