.table-container {
    border: 1px solid #dbdfe9;
    border-radius: 12px;
    box-shadow: 0px 3px 4px 0px #00000008;
}

.table-title-container {
    height: 66px;
    padding: 20px;
    gap: 10px;
    border-bottom: 1px solid #f1f1f4;
}

.table-title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
