.row-cell {
    border-bottom: 1px solid #f1f1f4;
    border-right: 1px solid #f1f1f4;
    height: 66px;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.last-column {
    border-right: none;
}

.row-cell-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #252F4A;
}
